<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title></title>
	<link rel="stylesheet" href="css/styles.css">
	<script type="text/javascript" src="js/jquery-3.1.1.min.js"></script>
	<script type="text/javascript" src="js/app.js"></script>
</head>
<body>
	<div id="wrapper">
		<% include partials/nav.ejs %>
		<div id="content" class="fadeOut">

		</div>
	</div>
</body>
</html>